/*
!config/
!groovy/
!resources/
!mods/oldresearch-*.jar
!mods/vintagium-*.jar
!mods/sitscore-*.jar
!LICENSE
!.gitignore

config/enderio/recipes/*.pdf
config/enderio/recipes/examples
config/splash.properties
config/jei/worldSettings.cfg
config/thaumicjei_itemstack_aspects.json
config/time.history
config/xaerominimap_entities.json
config/spark/
config/tellme/
config/jei/bookmarks.ini
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/items.csv
config/enderio/recipes/*.pdf
config/enderio/recipes/**/*.xsd
config/enderio/recipes/examples/*
config/tconstruct_oredictcache.dat
config/tinker_ore_dict_melting_cache.dat
config/startuptimer/startup_times.json
config/serializationisbad-remotecache.json
config/loliasm/methods-stable_39.csv
config/mcp_stable-39-1.12.zip
